/vendor
/node_modules

# Logs
*.log
npm-debug.log
yarn-error.log

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.backup
.env.production

# Laravel
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail

# IDEs
/.idea
/.vscode
/.fleet
/.zed

# Tools
.phpunit.result.cache
.phpactor.json
/auth.json

# Homestead
Homestead.json
Homestead.yaml

# Vagrant
/.vagrant

# Vite
.vite/